<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>
<body>

	<nav th:insert="fragments/fragments :: navigation"></nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    
 	
 
 	<div class="container">
 		
 		<div class="col-md-6 offset-md-3 shadow">
 		
 			<h1>Créer un cours</h1>
	
			<div class="pt-4 pb-3">
	
				<form action="storeCourse" method="post" modelAttribute="student">
	
					<div class="form-row">
					
						<div class="col">
							<div class="md-form md-outline mt-0">
								<label for="firstName">Intitulé</label>
								<input type="text" id="themeCourse" name="themeCourse" class="form-control"> 
							</div>
						</div>
						
						<div class="col">
							<div class="md-form md-outline mt-0">
								<label for="lastName">Nombre d'heure(s) </label>
								<input type="text" id="numberHours" name="numberHours" class="form-control"> 
							</div>
						</div>
					</div>	
					<br/> <br/>
					<div class="text-center mb-2">
						<button type="submit" class="btn btn-primary mb-4">Ajouter</button>
					</div>
				</form>
			</div>
		</div>
 	</div>
 	
 	<br>
 	<br>
        
    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>