<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>

<body>

	<nav th:insert="fragments/fragments :: navigation"></nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    
   	<!-- <div th:each="course : ${listCourse}">
   		<p th:text="${course.themeCourse}"> </p>
   	</div> -->

    <!-- Content -->

    <div class="container shadow">
    	<h1 class="mb-5"> Liste des étudiants </h1>
    	<table class="table">
	        <thead>
	            <tr>
	                <th>Nom</th>
	                <th>Prénom</th>
	                <th>Adresse mail</th>
	                <th> Actions </th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="student : ${studentList}">
	                <td th:text="${student.firstName}"></td>
	                <td th:text="${student.lastName}"></td>
	                <td th:text="${student.mailAddress}"></td>
	                <td>
						<a class="btn btn-success" th:href="@{/updateStudent/{id}(id=${student.id})}"> <i class="bi bi-pencil-square"></i> </a>				
						<a class="btn btn-danger" th:href="@{/deleteStudent/{id}(id=${student.id})}" > <i class="bi bi-trash"></i> </a>
						<a class="btn btn-info" th:href="@{/showStudent/{id}(id=${student.id})}" > <i class="bi bi-eye"></i> </a>
						<a class="btn btn-secondary"  th:href="@{/addStudentCourse/{id}(id=${student.id})}"> <i class="bi bi-bookmark-plus"></i> </a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
    	
    </div>
        
    
    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>