<html lang="en">
    <head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>
    <body id="page-top">
    
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
				<br>
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Authentification</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                    <div th:if="${typeMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
					  	<span th:utext="${message}"></span>
				    	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					                    
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        
                        <form action="getUser" method="post" modelAttribute="user">
                            
							<div class="control-group">
                                
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Identifiant</label>
                                    <input class="form-control" name="login" id="login" type="text" placeholder="Login" required="required" data-validation-required-message="Please enter your login." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Mot de passe</label>
                                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required="required" data-validation-required-message="Please enter your password." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        
    </body>
</html>