<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>
<body>

	<nav th:insert="fragments/fragments :: navigation"></nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
 	
 
 	<div class="card container mt-5 shadow">
 		<div class="card-body">
 		
 			<h1 class="card-title">Informations de l'étudiant</h1>
 		
 			<div class="text-nowrap">
 			
 			
 				
 				<ul style="list-style-type: none; padding-left: 0px;">
                    <li style="padding: 5px">
                        <span class="infos"><i class="fas fa-user" style="color:#1abc9c"></i></span>
                        <span style="color:#050505; font-weight: 500" th:text="*{student.firstName}"></span> <span style="color:#050505; font-weight: 500" th:text="*{student.lastName}">
                    </li>
                 	<li style="padding: 5px">
                        <span class="infos"><i class="fas fa-map-marked-alt" style="color:#1abc9c"></i></span>
                        <span style="color:#050505; font-weight: 500" th:text="*{student.address}"></span>
                 	</li>
                 	<li style="padding: 5px">
                        <span class="infos"><i class="fas fa-envelope-open" style="color:#1abc9c"></i></span>
                        <span style="color:#050505; font-weight: 500" th:text="*{student.mailAddress}"></span>
                 	</li>
                 	<li style="padding: 5px">
                        <span class="infos"><i class="fas fa-phone-alt" style="color:#1abc9c"></i></span>
                        <span style="color:#050505; font-weight: 500" th:text="*{student.numberPhone}"></span>
                 	</li>
                 	<li style="padding: 5px">
                        <span class="infos"><i class="fas fa-birthday-cake" style="color:#1abc9c"></i></span>
                        <span style="color:#050505; font-weight: 500" th:text="*{student.birthDate}"></span>
                 	</li>
                 </ul>
			</div>
 		</div>
 	</div>
 	
 	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        
    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>