<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragments :: header"><meta charset="UTF-8"></head>
<body>

	<nav th:insert="fragments/fragments :: navigation"></nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
 	<div class="card container mt-5 shadow">
 		<div class="card-body">
 			<h1 class="card-title">Informations sur le cours</h1>
 			
 			<ul style="list-style-type: none; padding-left: 0px;">
            	<li style="padding: 5px">
                    <span class="infos"><i class="fas fa-heading" style="color:#1abc9c"></i></span>
                    <span style="color:#050505; font-weight: 500" th:text="*{course.themeCourse}"></span>
                </li>
                <li style="padding: 5px">
                    <span class="infos"><i class="fas fa-clock" style="color:#1abc9c"></i></span>
                    <span style="color:#050505; font-weight: 500" th:text="*{course.numberHours}"></span>
                </li>
            </ul>
 		</div>
 	</div>
        
    <footer th:insert="fragments/fragments :: footer"></footer>

</body>
</html>